---
layout: default
title: Weapons
---
<h2>Weapons</h2>
<table id="weapon-list">
    {% include weapon-header-table.html %}
    {% assign sorted_weapons = site.weapons | sort:'released' %}
    {% for weapon in sorted_weapons %}
        {% include weapon-entry-table.html weapon=weapon %}
    {% endfor %}
</table>
