<div class="mod-display rarity-{{include.rarity}}" style="background-image: url({% asset_path mod-bg/pressure_point %})">
    <div class="rarity">{% for r in (1..include.rarity) %}<span class="star">*</span>{% endfor %}</div>
    <div class="polarity">{% assign cost = include.cost %}{% if cost < 0 %}{% assign cost = cost | times:"-1" %}<span class="negative">➞</span>{% endif %}{{cost}}{% include icons/polarity.html type=include.polarity %}</div>
    <div class="info">
        <div class="name">{{ include.name | capitalize }}</div>
        <div class="description">{{ include.description }}</div>
        <div class="extra-info">
            <div class="conclave">{{include.conclave}}</div>
            <div class="type">{{include.type | capitalize}}</div>
        </div>
    </div>
    <div class="ranks{% if include.rank == include.max_rank %} maxed{% endif %}">
        {% for j in (1..include.rank) %}<div class="rank obtained"></div>{% endfor %}{% for j in (include.rank..include.max_rank) offset:1 %}<div class="rank empty"></div>{% endfor %}
    </div>
</div>
