<h2>Mods</h2>
<div class="mod-container">
    {% for j in (1..2) %}
    <div class="mod-row row{{ j }}">
        {% for i in (1..5) %}
        {% assign wefwef = i | modulo:"3" | plus:"1" %}
        <div id="mod-slot{{ i }}" class="mod-slot">{% include mod-view.html name='...yay' conclave=10 type="rifle" cost=7 polarity='R' rank=3 max_rank=5 rarity=wefwef description='+100% test values'%}</div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
