<section>
    <h2>Preface</h2>
    <p>work in progress</p>
    <p>chrome is being a shit and won't display the border-image for mods, so use firefox or something for now thanks. <small>you should probs be using firefox anyways huehuehue</small></p>
    <p>Visit <a href="https://gitlab.com/warframe/warframe.gitlab.io">this gitlab repository</a> for the source or more info for now.</p>
</section>
