{% assign warframe = include.warframe[1] %}
<div class="warframe">
    <dt>Name</dt><dd>{{warframe.title}}</dd>
    <dt>Health (Rank 30)</dt><dd>{{warframe.health[0]}} ({{warframe.health[1]}})</dd>
    <dt>Power (Rank 30)</dt><dd>{{warframe.power[0]}} ({{warframe.power[1]}})</dd>
    <dt>Description</dt><dd>{{warframe}}</dd>
</div>
