{% assign warframe = include.warframe[1] %}
<tr class="warframe{% if warframe.variant != "none" %} {{warframe.variant}}{% endif %}{% if warframe.exclusive == 1 %} exclusive{% endif %}{% if warframe.vaulted == 1 %} vaulted{% endif %}" title="{{warframe.content}}">
    <td class="name">{{warframe.title}}</td>
    <td class="health rank30">{{warframe.health[1]}}</td>
    <td class="shield rank30">{{warframe.shield[1]}}</td>
    <td class="power rank30">{{warframe.power[1]}}</td>
    <td class="health rank1">{{warframe.health[0]}}</td>
    <td class="shield rank1">{{warframe.shield[0]}}</td>
    <td class="power rank1">{{warframe.power[0]}}</td>
    <td class="armor">{{warframe.armor}}</td>
    <td class="speed">{{warframe.speed}}</td>
    <td class="conclave">{{warframe.conclave}}</td>
</tr>
