<thead>
    <tr class="warframe">
        <th class="name">Name</th>
        <th class="health rank30">Health</th>
        <th class="shield rank30">Shield</th>
        <th class="power rank30">Power</th>
        <th class="health rank1">Health (R1)</th>
        <th class="shield rank1">Shield (R1)</th>
        <th class="power rank1">Power (R1)</th>
        <th class="armor">Armor</th>
        <th class="speed">Speed</th>
        <th class="conclave">Conclave</th>
    </tr>
</thead>
