{% assign weapon = include.weapon[1] %}
<div class="weapon">
    <dt>Name</dt><dd>{{weapon.display_name}}</dd>
    <dt>Damage</dt><dd>{{weapon.damage}}</dd>
    <dt>Mastery Required</dt><dd>{{weapon.mastery}}</dd>
    <dt>Description</dt><dd>{{weapon}}</dd>
</div>
