<thead>
    <tr class="weapon">
        <th class="name">Name</th>
        <th class="damage impact">{% include icons/damage.html type="impact" %}</th>
        <th class="damage puncture">{% include icons/damage.html type="puncture" %}</th>
        <th class="damage slash">{% include icons/damage.html type="slash" %}</th>
        <th class="damage heat">{% include icons/damage.html type="heat" %}</th>
        <th class="damage cold">{% include icons/damage.html type="cold" %}</th>
        <th class="damage toxin">{% include icons/damage.html type="toxin" %}</th>
        <th class="damage electricity">{% include icons/damage.html type="electricity" %}</th>
        <th class="damage blast">{% include icons/damage.html type="blast" %}</th>
        <th class="damage corrosive">{% include icons/damage.html type="corrosive" %}</th>
        <th class="damage gas">{% include icons/damage.html type="gas" %}</th>
        <th class="damage magnetic">{% include icons/damage.html type="magnetic" %}</th>
        <th class="damage radiation">{% include icons/damage.html type="radiation" %}</th>
        <th class="damage viral">{% include icons/damage.html type="viral" %}</th>
        <th class="mastery">Mastery</th>
        <th class="crit_chance">Crit Chance</th>
        <th class="crit_mult">Crit Multiplier</th>
        <th class="status_chance">Status Chance</th>
        <th class="reload">Reload Speed</th>
        <th class="max_ammo">Max Ammo</th>
        <th class="magazine">Magazine Size</th>
        <th class="accuracy">Accuracy</th>
        <th class="fire_rate">Fire Rate</th>
        <th class="noise_level">Noise Level</th>
        <th class="flight_speed">Flight Speed</th>
        <th class="conclave">Conclave</th>
        <th class="released">Released</th>
    </tr>
</thead>
