{% assign weapon = include.weapon[1] %}
<tr class="weapon" title="{{weapon.content}}">
    <td class="name">{{weapon.display_name}}</td>
    <td class="damage impact">{{weapon.damage.impact}}</td>
    <td class="damage puncture">{{weapon.damage.puncture}}</td>
    <td class="damage slash">{{weapon.damage.slash}}</td>
    <td class="damage heat">{{weapon.damage.heat}}</td>
    <td class="damage cold">{{weapon.damage.cold}}</td>
    <td class="damage toxin">{{weapon.damage.toxin}}</td>
    <td class="damage electricity">{{weapon.damage.electricity}}</td>
    <td class="damage blast">{{weapon.damage.blast}}</td>
    <td class="damage corrosive">{{weapon.damage.corrosive}}</td>
    <td class="damage gas">{{weapon.damage.gas}}</td>
    <td class="damage magnetic">{{weapon.damage.magnetic}}</td>
    <td class="damage radiation">{{weapon.damage.radiation}}</td>
    <td class="damage viral">{{weapon.damage.viral}}</td>
    <td class="mastery">{{weapon.mastery}}</td>
    <td class="crit_chance">{{weapon.crit_chance}}</td>
    <td class="crit_mult">{{weapon.crit_mult}}</td>
    <td class="status_chance">{{weapon.status_chance}}</td>
    <td class="reload">{{weapon.reload}}</td>
    <td class="max_ammo">{{weapon.max_ammo}}</td>
    <td class="magazine">{{weapon.magazine}}</td>
    <td class="accuracy">{{weapon.accuracy}}</td>
    <td class="fire_rate">{{weapon.fire_rate}}</td>
    <td class="noise_level">{{weapon.noise_level}}</td>
    <td class="flight_speed">{{weapon.flight_speed}}</td>
    <td class="conclave">{{weapon.conclave}}</td>
    <td class="released">{{weapon.released}}</td>
</tr>
