---
layout: default
title: Tiers
---
<h2>Tiers</h2>
<table id="tier-list">
    {% include tier-header-table.html %}
    {% assign sorted_tiers = site.tiers | sort:'score' %}
    {% for tier in sorted_tiers %}
        {% include tier-entry-table.html tier=tier %}
    {% endfor %}
</table>
