@charset "UTF-8"; /* why do i have to specify thisssss just look at the file's character encoding jeez */
@font-face {
  font-family: 'warfont';
  src: url(asset_path("warfont.eot"));
  src: url(asset_path("warfont.eot")) format('embedded-opentype'),
       url(asset_path("warfont.woff2")) format('woff2'),
       url(asset_path("warfont.woff")) format('woff'),
       url(asset_path("warfont.ttf")) format('truetype'),
       url(asset_path("warfont.svg")) format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'warfont';
    src: url('../font/warfont.svg?70789793#warfont') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "warfont";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-dmg-corrosive:before { content: '\e800'; } /* '' */
.icon-dmg-heat:before { content: '\e801'; } /* '' */
.icon-dmg-magnetic:before { content: '\e802'; } /* '' */
.icon-reputation_banner:before { content: '\e803'; } /* '' */
.icon-dmg-electricity:before { content: '\e804'; } /* '' */
.icon-dmg-gas:before { content: '\e805'; } /* '' */
.icon-faction-sentient:before { content: '\e806'; } /* '' */
.icon-faction-corrupted:before { content: '\e807'; } /* '' */
.icon-faction-tenno:before { content: '\e808'; } /* '' */
.icon-sigil-redveil:before { content: '\e809'; } /* '' */
.icon-dmg-impact:before { content: '\e80a'; } /* '' */
.icon-polarity-penjaga:before { content: '\e80b'; } /* '' */
.icon-faction-corpus:before { content: '\e80c'; } /* '' */
.icon-polarity-naramon:before { content: '\e80d'; } /* '' */
.icon-dmg-radiation:before { content: '\e80e'; } /* '' */
.icon-polarity-zenurik:before { content: '\e80f'; } /* '' */
.icon-polarity-vazarin:before { content: '\e810'; } /* '' */
.icon-polarity-koneski:before { content: '\e811'; } /* '' */
.icon-faction-grineer:before { content: '\e812'; } /* '' */
.icon-sigil-perrin:before { content: '\e813'; } /* '' */
.icon-polarity-madurai:before { content: '\e814'; } /* '' */
.icon-sigil-simaris:before { content: '\e815'; } /* '' */
.icon-faction-wild:before { content: '\e816'; } /* '' */
.icon-sigil-arbiter:before { content: '\e817'; } /* '' */
.icon-bluprint:before { content: '\e818'; } /* '' */
.icon-sigil-suda:before { content: '\e819'; } /* '' */
.icon-sigil-loka:before { content: '\e81a'; } /* '' */
.icon-dmg-cold:before { content: '\e81b'; } /* '' */
.icon-dmg-blast:before { content: '\e81c'; } /* '' */
.icon-sigil-conclave:before { content: '\e81d'; } /* '' */
.icon-dmg-puncture:before { content: '\e81e'; } /* '' */
.icon-dmg-toxin:before { content: '\e81f'; } /* '' */
.icon-dmg-slash:before { content: '\e820'; } /* '' */
.icon-sigil-steel:before { content: '\e821'; } /* '' */
.icon-dmg-viral:before { content: '\e822'; } /* '' */
.icon-polarity-unairu:before { content: '\e823'; } /* '' */
.icon-faction-infestation:before { content: '\e824'; } /* '' */
