$color-common-mod: rgb(238, 136, 0);
$color-uncommon-mod: rgb(204, 238, 255);
$color-rare-mod: rgb(255, 221, 0);
$color-common-mod-bg:  darken(desaturate($color-common-mod, 50%),30%);
$color-uncommon-mod-bg:  darken(desaturate($color-uncommon-mod, 70%),60%);
$color-rare-mod-bg: darken(desaturate($color-rare-mod, 50%),30%);
$color-polarity-same: #8bffb9;
$color-polarity-different: #ff6e8d;
$mod-height: 17em;
$mod-height-collapse: 5.2em;
$mod-transition-speed: 0.3s;

/* mods */
.mod-container {
    background: rgba(50,180,255,0.3);
    position: relative;
    padding:2em;
}
.mod-container .mod-row{
    display: flex;
    flex-wrap:none;
    align-content:center;
    justify-content: center;
}
.mod-container .mod-slot {
    flex: 0 0 auto;
    background: #0f0;
    margin: 1em;
    height: 5.2em;
    width: 12em;
    position:relative;
    border-radius: 3px;
}

.mod-display {
    background: url(asset_path("mods/bg"));
    position:relative;
    display:block;
    text-align:center;
    height: $mod-height-collapse;
    top: 0em;
    cursor:pointer;
    z-index:2;
}
.mod-display:hover{
    height: $mod-height;
    top: -5.25em;
    z-index:1000;
    box-shadow: 0em 0.75em 1em 0.25em rgba(0,0,0,0.75);
}
.mod-display.rarity-1 {
    background-color: $color-common-mod-bg;
    color: $color-common-mod;
}
.mod-display.rarity-2{
    background-color: $color-uncommon-mod-bg;
    color: $color-uncommon-mod;
}
.mod-display.rarity-3{
    background-color: $color-rare-mod-bg;
    color: $color-rare-mod;
}
.mod-display{
    transition: all $mod-transition-speed;
}
/* background image */
.mod-display {
    background-size: 100%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}
/* overlay to darken */
.mod-display:before {
    content: "";
    background: rgba(0,0,0,0.35);
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.mod-display.rarity-1:before{
    box-shadow: inset 0em 0em 1em 0.25em fade_out($color-common-mod,0.25);
}
.mod-display.rarity-2:before{
    box-shadow: inset 0em 0em 1em 0.25em fade_out($color-uncommon-mod,0.25);
}
.mod-display.rarity-3:before{
    box-shadow: inset 0em 0em 1em 0.25em fade_out($color-rare-mod,0.25);
}
.mod-display:hover:before{
    background: transparent;
}
/* cool border thing */
.mod-display:after {
    content: "";
    position:absolute;
    top:0;bottom:0;right:0;left:0;
    border: 1px solid; /* HOLY FUCK CHROME WHY DO YOU NEED THIS TO SHOW A BORDER IMAGE */
    border-image-slice: 45 25 90 25;
    border-image-width: 3em 1.7em 5em 1.7em;
    border-image-outset: 0.5em 0.5em 1.6em 0.5em;
    border-image-repeat: stretch;
}
.mod-display.rarity-1:after {
    border-image-source: url(asset_path("mods/contour_1"));
}
.mod-display.rarity-2:after {
    border-image-source: url(asset_path("mods/contour_2"));
}
.mod-display.rarity-3:after {
    border-image-source: url(asset_path("mods/contour_3"));
}

.mod-display .polarity, .mod-display .info {
    text-shadow: 1px 0 rgba(0,0,0,0.75), 0 1px rgba(0,0,0,0.75);
}
.mod-display .rarity, .mod-display .ranks{
    text-shadow: 1px 0 rgba(0,0,0,0.75), 0 1px rgba(0,0,0,0.75), -1px 0 rgba(0,0,0,0.75), 0 -1px rgba(0,0,0,0.75);
}

.mod-display .rarity{
    position:absolute;
    top:-0.75em;
    text-align:center;
    width:100%;
    font-size: 0.8em;
    z-index: 1;
}
.mod-display .rarity .star {
    display:none;
}
.mod-display.rarity-1 .rarity:before{
    content: "*";
}
.mod-display.rarity-2 .rarity:before{
    content: "**";
}
.mod-display.rarity-3 .rarity:before{
    content: "***";
}

.mod-display .polarity {
    position:absolute;
    right:0;
    margin-top:0.5em;
    padding: 0.1em .25em 0em 1em;
    font-size: 0.8em;
    width: 2.5em;
    height: 1.45em;
    display:inline-block;
    text-align:right;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:100%;
}
.mod-display.rarity-1 .polarity {
    background-image: url(asset_path("mods/polaritybar_1"));
}
.mod-display.rarity-2 .polarity {
    background-image: url(asset_path("mods/polaritybar_2"));
}
.mod-display.rarity-3 .polarity {
    background-image: url(asset_path("mods/polaritybar_3"));
}
.mod-display .polarity span, .mod-display .polarity span:before {
    margin:0;
    font-size: 0.95em;
}
.mod-display .polarity.same {
    color: $color-polarity-same;
}
.mod-display .polarity.different {
    color: $color-polarity-different;
}
.mod-display .polarity .negative {
    transform: rotate(-90deg);
    display:inline-block;
}

.mod-display .info {
    position:absolute;
    text-align:center;
    bottom: 0em;
    width:100%;
    padding-bottom:0em;
    padding-top: 0.25em;
    background: transparent;
    display:flex;
    top:0em;
    align-items: center;
    overflow:hidden;
    max-height: $mod-height-collapse;
}
.mod-display .name {
    font-size: 1.1em;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0em .5em;
    flex:auto;
}
.mod-display .description {
    font-size: 0.9em;
    padding:0.25em;
    text-align:center;
    justify-content:center;
    display:block;
    max-height:0em;
}
/* not sure this does much of anything */
.mod-display .info, .mod-display .info .description{
    transition: max-height $mod-transition-speed;
}
.mod-display:hover .info, .mod-display:hover .info .description {
    max-height: $mod-height;
}

.mod-display .extra-info {
    padding:0.45em 1em 0.3em;
    left:0;
    right:0;
    font-size: 0.7em;
    margin: 0 1em 0.7em;
    position:relative;
    flex-wrap:nowrap;
    justify-content:space-between;
    background-repeat: no-repeat;
    background-size:contain;
    height: 1.25em;
}
.mod-display.rarity-1 .extra-info {
    background-image: url(asset_path("mods/infobar_1"));
}
.mod-display.rarity-2 .extra-info {
    background-image: url(asset_path("mods/infobar_2"));
}
.mod-display.rarity-3 .extra-info {
    background-image: url(asset_path("mods/infobar_3"));
}

.mod-display .extra-info div {
    flex: 1 0 auto;
    display:inline-block;
    align-items:center;
    position:relative;
}
.mod-display .extra-info .conclave{
    order:1;
    text-align:left;
    padding-left: 1.5em;
}
.mod-display .extra-info .conclave:before {
    content: "";
    display: inline-block;
    width: 2em;
    height: 1.5em;
    position:absolute;
    top: -.25em;
    left:0;
    background-repeat: no-repeat;
    background-size: 1.5em;
}
.mod-display.rarity-1 .extra-info .conclave:before {
    background-image: url(asset_path("icon/mod/mod_conclave_1"));
}
.mod-display.rarity-2 .extra-info .conclave:before {
    background-image: url(asset_path("icon/mod/mod_conclave_2"));
}
.mod-display.rarity-3 .extra-info .conclave:before {
    background-image: url(asset_path("icon/mod/mod_conclave_3"));
}
.mod-display .extra-info .type{
    order:2;
    text-align:right;
}

.mod-display .ranks {
    position:absolute;
    bottom:-1.8em;
    width:100%;
    font-size: 0.8em;
    z-index:1;
    padding-top: 1em; /* fix hover thing */
}
.mod-display .ranks.maxed::before {
	content: "";
	display: block;
	width: 64%;
	height: 0.1em;
	background: rgb(159, 234, 255);
	top: 1.4em;
	position: absolute;
	left: 17%;
	filter: blur(0.04em);
	box-shadow: 0em 0em 1em 0.1em rgba(118,225,255,1);
}
.mod-display .ranks .rank {
    display: inline-block;
    background: url(asset_path('icon/mod/mod_rank')) no-repeat;
    width: 1em;
    height: 1em;
    margin:0em -.1em;
}
.mod-display .ranks .rank.empty {
    color: #666;
    background-position: 0px 0px;
}
.mod-display .ranks .rank.obtained{
    color: #2ef;
    background-position: -13px 0px;
}

.mod-display .description, .mod-display .extra-info{
    display:none;
}
.mod-display:hover .description, .mod-display:hover .extra-info{
    display:flex;
}
.mod-display:hover .name{
    top: 0em;
}
/* fancy shitty blur thing */
.mod-display:hover .info{
    background: url(asset_path("mods/bg"));
    display: block;
    top: auto;
}
/* either i have stuff overflowing, or i have this cool blur shit to tween it */
/*.mod-display .info:before {
    content: "";
    width: 100%;
    height: .3em;
    display: block;
    filter: blur(0.1em);
    background: url(asset_path("mods/bg"));
    position:absolute;
    top:-.2em;
    left:0;
}*/
.mod-display.rarity-1:hover .info, .mod-display.rarity-1:hover .info:before {
    background-color: $color-common-mod-bg;
}
.mod-display.rarity-2:hover .info, .mod-display.rarity-2:hover .info:before{
    background-color: $color-uncommon-mod-bg;
}
.mod-display.rarity-3:hover .info, .mod-display.rarity-3:hover .info:before{
    background-color: $color-rare-mod-bg;
}
