$color-common-mod: #e80;
$color-uncommon-mod: #cef;
$color-rare-mod: #fd0;

/* mods */
.mod-container {
    background:#f00;
    position: relative;
}
.mod-container .mod-row{
    display: flex;
    flex-wrap:none;
    align-content:center;
    justify-content: center;
}
.mod-container .mod-slot {
    flex: 0 0 auto;
    background: #0f0;
    margin:0.5em;
    height: 5em;
    width: 10em;
    position:relative;
    border-radius: 3px;
}

.mod-slot .mod {
    background: #0ff;
    position:relative;
    display:block;
    text-align:center;
    border: 1px solid #000;
    height:5em;
    top: 0em;
    z-index:0;
    border-radius: 3px;
}
.mod-slot .mod:hover{
    height:13em;
    top: -3.25em;
    z-index:1000;
    box-shadow: 0em 0.5em 0.5em 0.25em rgba(0,0,0,0.75);
}
.mod-slot .mod.rarity-1{
    background: $color-common-mod;
    color: $color-common-mod;
}
.mod-slot .mod.rarity-2{
    background: $color-uncommon-mod;
    color: $color-uncommon-mod;
}
.mod-slot .mod.rarity-3{
    background: $color-rare-mod;
    color: $color-rare-mod;
}
.mod-slot .mod{
    transition: all 0.5s;
}

.mod-slot .mod .polarity, .mod-slot .mod .info {
    text-shadow: 1px 0 rgba(0,0,0,0.75), 0 1px rgba(0,0,0,0.75);
}
.mod-slot .mod .rarity, .mod-slot .mod .ranks{
    text-shadow: 1px 0 rgba(0,0,0,0.75), 0 1px rgba(0,0,0,0.75), -1px 0 rgba(0,0,0,0.75), 0 -1px rgba(0,0,0,0.75);
}

.mod-slot .mod .overlay{
    z-index:-1;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.25);
}

.mod-slot .mod .rarity{
    position:absolute;
    top:-0.5em;
    text-align:center;
    width:100%;
    font-size: 0.8em;
}

.mod-slot .mod .polarity {
    position:absolute;
    right:0;
    margin-top:0.5em;
    background: rgba(0,0,0,0.25);
    padding:0.25em;
    font-size: 0.8em;
    z-index:2;
}

.mod-slot .mod .info {
    position:absolute;
    text-align:center;
    bottom: 0em;
    width:100%;
    padding-bottom:0.5em;
    padding-top: 0.25em;
    background: transparent;
}
.mod-slot .mod .name {
    font-size: 1.1em;
    position:relative;
    top: -1em;
    text-transform: capitalize;
}
.mod-slot .mod .description{
    font-size: 0.9em;
    padding:0.25em;
    text-align:center;
    justify-content:center;
}

.mod-slot .mod .extra-info {
    background: rgba(0,0,0,0.25);
    padding:0.25em;
    left:0;
    right:0;
    font-size: 0.7em;
    margin: 0 1em;
    position:relative;
    flex-wrap:nowrap;
    justify-content:space-between;
}
.mod-slot .mod .extra-info div {
    flex: 1 0 auto;
    display:inline-block;
}
.mod-slot .mod .extra-info .conclave{
    order:1;
    text-align:left;
}
.mod-slot .mod .extra-info .type{
    order:2;
    text-align:right;
}
/* make the extra-info have triangle border ends or whatever */
.mod-slot .mod .extra-info:before {
    content: "";
    font-size: 0.9em;
    position: absolute;
    left: -0.5em;
    top:0;
    width: 0; height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-right: 0.5em solid rgba(0,0,0,0.25);
}
.mod-slot .mod .extra-info:after {
    content: "";
    position: absolute;
    font-size: 0.9em;
    right: -0.5em;
    top:0;
    width: 0; height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 0.5em solid rgba(0,0,0,0.25);
}


.mod-slot .mod .ranks {
    position:absolute;
    bottom:-0.65em;
    width:100%;
    font-size: 0.8em;
}
.mod-slot .mod .ranks.maxed {
    background: rgba(0,200,255,0.25);
}
.mod-slot .mod .ranks .rank {
    display: inline-block;
}
.mod-slot .mod .ranks .rank.empty{
    margin:0;
    color: #666;
}
.mod-slot .mod .ranks .rank.obtained{
    margin:0;
    color: #2ef;
}

.mod-slot .mod .description, .mod-slot .mod .extra-info{
    display:none;
}
.mod-slot .mod:hover .description, .mod-slot .mod:hover .extra-info{
    display:flex;
}
.mod-slot .mod:hover .name{
    top: 0em;
}
.mod-slot .mod:hover .info{
    background: rgba(0,0,0,0.5);
}
.mod-slot .mod:hover .overlay{
    background: transparent;
}
