@charset "UTF-8"; /* why do i have to specify thisssss just look at the file's character encoding jeez */
$font-stack: Georgia, Serif;
$color-bg: #efefef;
$color-primary: #333;

html, body {
    margin: 0;
    padding: 0;
}
body {
    background: $color-bg;
    font: 12pt, $font-stack;
    color: #222;
    padding:1em;
}

/* make tables look nicer */
table {
    border-collapse:collapse;
}
table th{
    cursor:pointer;
}
table tbody tr:nth-child(even){
    background: rgba(0,0,0,0.075);
}
table tbody tr:nth-child(odd){
    background: rgba(0,0,0,0.05);
}
table tbody td {
    padding: 0.25em;
}
table tbody tr:not(:last-of-type) {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
table tbody tr td:not(:last-of-type){
    border-right: 1px solid rgba(0,0,0,0.1);
}

tr.warframe.prime, tr.weapon.prime {
    background: rgba(255,255,0,0.1);
}
tr.warframe.vaulted, tr.weapon.vaulted {
    background: rgba(255,0,0,0.1);
}
tr.warframe.exclusive, tr.weapon.exclusive {
    background: rgba(0,0,0,0.15);
}

@import 'mods';
@import 'icons';
